* {
  font-family: 'Lato', sans-serif;
}

html {
  background: url("img/background-s.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  background: #26262680;
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 1rem;
}
h1 {
  font-family: 'Vollkorn', serif;
  font-size: 1.6rem;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  color: #F2F2F2;
}
.logo {
  width: 2rem;
  padding: 0 1rem 0 0.5rem;
}
@media (max-width: 512px) {
  h1 {
    font-size: 1.1rem;
  }
  .logo {
    width: 1.4rem;
  }
}

h2 {
  font-size: 1rem;
  color: #555;
}

.content {
  display: flex;
  flex-grow: 1;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.code, .demo {
  min-width: 240px;
  flex-grow: 1;
  margin: 0 0.5rem;
  border-radius: 0.4rem;
}

.code {
  position: relative;
  flex-grow: 1;
  background: #262626;
  color: #DDD;
  padding: 0;
}
#editor {
  width: 90%;
  height: 90%;
  overflow-y: auto;
  margin: 5%;
  outline: none;
}
.current {
  color: #D22;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.05rem;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 4;
  background: #FAFAFA;
}

.buttons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
#run {
  padding: 0.5rem;
  background: #60a33c;
  border-radius: 0.5rem;
  transition: all 0.4s ease 0s;
}
#run:hover {
  background: #30832c;
}
#run img {
  width: 24px;
}

#running {
  display: none;
}

#running img {
  width: 64px;
}

#running .stop img {
  margin: 8px;
  width: 48px;
}