* {
  font-family: 'Lato', sans-serif;
}

html {
  background: url("img/background-s.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  background: #26262680;
  margin: 0.5rem;
  margin-bottom: 0em;
  padding: 0.2rem;
  border-radius: 1rem;
}
#version {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #999;
  font-size: 0.9rem;
  font-style: italic;
}
h1 {
  font-family: 'Vollkorn', serif;
  font-size: 1.6rem;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  color: #F2F2F2;
  margin-bottom: 0;
}
header a {
  color: #DEDEDE;
}
.logo {
  width: 2rem;
  padding: 0 1rem 0 0.5rem;
}
@media (max-width: 512px) {
  h1 {
    font-size: 1.0rem;
  }
  .logo {
    width: 1.4rem;
  }
  #version {
    font-size: 0.6rem;
  }
}

h2 {
  font-size: 1rem;
  color: #555;
}

.content {
  display: flex;
  flex-grow: 1;
  margin: 1rem 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.code, .demo {
  min-width: 240px;
  flex-grow: 1;
  margin: 0 0.5rem;
  border-radius: 0.4rem;
}

.code {
  position: relative;
  flex-grow: 1;
  background: #262626;
  color: #DDD;
  padding: 0;
}
#editor, #highlighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: 5%;
  overflow-y: auto;
  outline: none;
  background: none;
  color: #DDD;
  resize: none;
  border: none;
  font-size: large;
}
#highlighting {
  display: none;
  background: #262626;
  top: 2px;
  left: 2px;
}
.current {
  color: #D22;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.05rem;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 2;
  background: #FAFAFA;
}
#error {
  display: none;
  position: absolute;
  text-align: center;
  background: #DD3333;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #eee;
}

.buttons {
  z-index: 2;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
#run {
  padding: 0.5rem;
  background: #60a33c;
  border-radius: 0.5rem;
  transition: all 0.4s ease 0s;
}
#run:hover {
  background: #30832c;
}
#run img {
  width: 24px;
}

#running {
  display: none;
}

#running img {
  width: 64px;
}

#running .stop img {
  margin: 8px;
  width: 48px;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #40404090;
  z-index: 5;
}
#overlay img {
  position: fixed;
  width: 64px;
  top: 50vh;
  left: 50vw;
  margin-top: -72px;
  margin-left: -32px;
  z-index: 10;
}
#overlay .done {
  position: fixed;
  width: 300px;
  height: 128px;
  margin-left: -150px;
  margin-top: -50px;
  top: 50vh;
  left: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  text-align: center;
  border: 4px solid #20A020;
  border-radius: 12px;
}
#overlay .done .done-msg, #overlay .done .done-sub {
  line-height: 32px;
}
#overlay .done .done-sub {
  color: #555;
  font-size: small;
  font-style: italic;
}